@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* global variabls */
:root {
    --color-bg: #FFFFFF;
    --color-bg-variant: #e7eef1;
    --color-bg-variant-hover: #dbe4e9;
    --color-border: #cccccc;
    --color-text: #111111;
    --color-text-light: #56656b;

    --color-primary: #2761f0;
    --color-primary-hover: #1d4ab9;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.774);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 80%;
}


/* Global style */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    font-family: system-ui,
        "Segoe UI",
        Roboto,
        Helvetica, Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Background color of the track */
    border-radius: 10px;
    /* Rounded corners */
}

/* The draggable thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid #f1f1f1;
    /* Space around the thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-hover);
    /* Darker color when hovered */
}

/* Header style */
header {
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-border);
    z-index: 1;
}

header a {
    text-decoration: none;
}

header:first-child {
    padding-left: 1.5rem;
}

.forum-title {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.3rem;
    color: var(--color-primary);
    transition: var(--transition);
}

.img-01 {
    width: 40px;
}

.login-link {
    text-decoration: none;
    background-color: var(--color-primary);
    margin-right: 2.5rem;
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}

.login-link i {
    margin-left: 10px;
}

.login-link:hover {
    background-color: var(--color-primary-hover);
}

/* container style */
.container {
    display: flex;
    padding-top: 65px;
    margin-left: 320px;
}

/* Nav style */
nav {
    position: fixed;
    background-color: var(--color-bg);
    text-decoration: none;
    width: 300px;
    height: 100vh;
    padding: 20px 0 0 10px;
    margin-top: 65px;
    border-right: 1px solid var(--color-border);
}

nav i {
    font-size: 1rem;
    display: inline-block;
    margin: 1px 20px 0 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.nav-list a {
    display: inline-block;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    transition: var(--transition);
}

.nav-list a:hover {
    background-color: var(--color-bg-variant);
}

.nav-list>li>a,
.topics-title {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

/* .nav-list>li>a:hover,
.topics-title:hover {
    color: var(--color-primary-hover);
} */

.topics-list {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.topics-list li {
    /* border: red solid 1px; */
    font-weight: 400;
    font-size: 1rem;
    list-style: none;
}

.topics-list li a {
    text-decoration: underline;
    color: var(--color-text);
    transition: var(--transition);
    text-transform: capitalize;
}

/* .topics-list li a:hover {
    color: var(--color-primary-hover);
} */

/* post style */
.posts {
    display: flex;
    flex-direction: column;
    width: 78%;
    /* border: #f0ed27 solid 1px; */
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    /* border: #2761f0 solid 1px; */
    width: 70%;
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid var(--color-border);

}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-light);
}

.post-user {
    font-size: 1rem;
    font-weight: 800;
}

.post-header span {
    background-color: var(--color-text-light);
    border-radius: 50%;
    padding: 2px;
}

.post-time {
    font-size: 0.9rem;
    font-weight: 500;
}

.post-body {
    color: var(--color-text);
    margin: 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
}

.post-title {
    font-size: 1rem;
    font-weight: 600;
}

.post-content {
    font-size: 0.9rem;
    font-weight: 500;
}

.post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.post-category {
    font-size: 0.8rem;
    padding: 5px 15px;
    border: var(--color-border) solid 1px;
    border-radius: 30px;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    max-width: 200px;
    /* border: #2761f0 solid 1px; */
    margin: 10px 0 10px;
}

.post-footer span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: var(--color-bg-variant);
    padding: 5px 10px;
    border-radius: 10px;
    transition: var(--transition);
}

.post-footer span:hover {
    background-color: var(--color-bg-variant-hover);
}

/* style of login and register pages */
.login-page,
.register-page {
    background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card,
.register-card {
    /* border: solid 1px var(--color-primary); */
    background-color: var(--color-bg);
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.login-form,
.register-form {
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

.login-card h1,
.register-card h1 {
    /* border: blue solid 1px; */
    text-align: center;
    color: var(--color-primary);
}

.login-input,
.register-input {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-bg-variant);
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: var(--transition);
}

.login-input:hover,
.register-input:hover {
    background-color: var(--color-bg-variant-hover);
}

.login-input:focus,
.register-input:focus {
    /* border: none; */
    outline: none;
}

.login-submit,
.register-submit {
    width: fit-content;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--color-primary);
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}

.login-submit:hover,
.register-submit:hover {
    background-color: var(--color-primary-hover);
}


.login-submit i,
.register-submit i {
    margin-left: 10px;
}

.form-line {
    border-top: 1px solid var(--color-border);
    width: 80%;
    margin: 0 auto;
}

.form-second-option {
    display: inline-block;
    margin: 0 auto;
}

/* error page style */

.error-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-card {
    text-align: center;
    color: var(--color-primary);
}

.error-card h1 {
    font-size: 6rem;
}

.error-card p {
    font-size: 2rem;
}