# Ignore the database file if it exists
server/database/database.db

# Ignore version control system directories
.git
.gitignore

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Ignore the commands script as it's not needed inside the container
commands.sh

# Ignore the README as it's not needed in the image
README.md
