</div>
<div class="footer-container">
    <div class="hidden-footer"></div>
    <footer>
        <div>
            <span>01</span>Forum copyright © 2024
        </div>
        <div class="footer-team">
            <a href="https://github.com/hmaach/"><img src="/assets/images/github.png" alt="github-logo" /> Hamza
                Maach</a> |
            <a href="https://github.com/ABouziani"><img src="/assets/images/github.png" alt="github-logo" /> Abdelhamid
                Bouziani</a> |
            <a href="https://github.com/2001basta"><img src="/assets/images/github.png" alt="github-logo" /> Youssef
                Basta</a> |
            <a href="https://github.com/oaitbenh"><img src="/assets/images/github.png" alt="github-logo" /> Omar Ait
                Benhammou</a> |
            <a href="https://github.com/M-MDI"><img src="/assets/images/github.png" alt="github-logo" /> Mehdi
                Moulabbi</a>
        </div>
    </footer>
</div>
<script src="/assets/js/index.js"></script>

</body>

</html>