<div class="nav-contentbody">
    <nav>
        <ul class="nav-list">
            <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
            <li>
                <span class="categories-title"><i class="fa-solid fa-list"></i>Categories</span>
                {{if .Categories}}
                <ul class="categories-list">
                    <!-- Render categories here -->
                    {{range .Categories}}
                    <li><a href="/category/{{.ID}}">#{{.Label}} ({{.PostsCount}})</a></li>
                    {{end}}
                </ul>
                {{else}}
                <p class="no-categories">No categories available.</p>
                {{end}}
            </li>
            <li><a href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
        </ul>
    </nav>