{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container">
    <div class="about-content">
        <div class="about-header">
            <h1>Forum Application</h1>
        </div>
        <div class="team-section">
            <h2>Meet the Team</h2>
            <div class="team-members">
                <div class="team-member">
                    <div class="member-avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <p class="member-name">Abdelhamid Bouziani</p>
                </div>
                <div class="team-member">
                    <div class="member-avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <p class="member-name">Hamza Maach</p>
                </div>
                <div class="team-member">
                    <div class="member-avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <p class="member-name">Omar Ait Benhammou</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html"}}