{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container">
    <div class="posts">
        {{range .Data}}
        <div class="post">
            <div class="post-header">
                <p class="post-user">{{.UserName}}</p>
                <span></span>
                <p class="post-time">{{.CreatedAt}} </p>
            </div>
            <div class="post-body">
                <p class="post-title">{{.Title}} </p>
                <p class="post-content">{{.Content}} </p>
                <div class="post-categories">
                    {{range .Categories}}
                    <span class="post-category">#{{.}}</span>
                    {{end}}
                </div>
            </div>
            <div class="post-footer">
                <span class="post-like"><i class="fa-regular fa-thumbs-up"></i>{{.Likes}}</span>
                <span class="post-dislike"><i class="fa-regular fa-thumbs-down"></i>{{.Dislikes}}</span>
                <span class="post-comments"><i class="fa-regular fa-comment"></i>{{.Comments}}</span>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{template "footer.html"}}