{{template "header.html" .}}
<div class="login-page">
    <div class="login-card">
        <h1>Log in</h1>
            <input type="text" id="username" name="username" class="login-input" placeholder="email or username" required>
            <input type="password" id="password" name="password" class="login-input" placeholder="********" required>
            <button onclick="loginError()" type="submit" class="login-submit">Log in <i
                    class="fa-solid fa-right-to-bracket"></i></button>
            <span class="form-line"></span>

        <p class="form-second-option">New to 01Forum? <a href="/register">Register</a></p>
    </div>
</div>
{{template "footer.html"}}