{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container">
    <div class="create-post">
        <h1>Create a New Post</h1>
        <div class="create-post-fields">
            <label>Title* <span class="max-char">(max: 100 char)</span></label>
            <input name="title" class="create-post-title" placeholder="Enter your post title here..." />
        </div>
        <div class="create-post-fields">
            <label>Categories*</label>
            <div class="create-post-categories">
                <div class="selected-categories"></div>
                <select id="categories-select" onchange="e => selectCategory(e)">
                    <option selected disabled>Select a category</option>
                    {{range .Categories}}
                    <option value='{"id":"{{.ID}}","label":"{{.Label}}"}'>{{.Label}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        <div class="create-post-fields">
            <label>Content* <span class="max-char">(max: 1000 char)</span></label>
            <textarea class="content" name="content" placeholder="What's on your mind?"></textarea>
        </div>
        <span class="errorarea"></span>
        <button id="create-post-btn" onclick="CreatPost()">
            Publish Post
            <i class="fa-regular fa-calendar-plus" id="publish-post-icon"></i>
            <i class="fa-solid fa-circle-notch fa-spin" id="publish-post-circle"></i>
        </button>
    </div>
</div>
{{template "footer.html"}}