{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container">
    <div class="post-detail">
        <div class="post">
            <div class="post-body">
                <p class="post-title">{{.Data.Post.Title}} </p>
                <div class="post-header">By:
                    <p class="post-user">{{.Data.Post.UserName}} </p>
                    <span></span>
                    <p class="post-time">at: {{.Data.Post.CreatedAt}} </p>
                </div>
                <br>
                <p class="post-content">{{.Data.Post.Content}} </p>
                <div class="post-categories">
                    {{range .Data.Post.Categories}}
                    <span class="post-category">#{{.}}</span>
                    {{end}}
                </div>
            </div>
            <div class="post-footer">
                <button id="likescount{{.Data.Post.ID}}" onclick="postreaction('{{.Data.Post.ID}}','like')"
                    class="post-like post-footer-hover"><i
                        class="fa-regular fa-thumbs-up"></i>{{.Data.Post.Likes}}</button>
                <button id="dislikescount{{.Data.Post.ID}}" onclick="postreaction('{{.Data.Post.ID}}','dislike')"
                    class="post-dislike post-footer-hover"><i
                        class="fa-regular fa-thumbs-down"></i>{{.Data.Post.Dislikes}}</button>
                <span class="post-comments"><i class="fa-regular fa-comment"></i>{{.Data.Post.Comments}}</span>
            </div>
            <span style="color:red; border: none;" id="errorlogin{{.Data.Post.ID}}"></span>

        </div>
            <div class="comment-add">
                <textarea name="postid" hidden>{{.Data.Post.ID}}</textarea>
                <textarea id="comment-content" name="comment" placeholder="Add a comment..." required></textarea>
                <button onclick="addcomment('{{.Data.Post.ID}}')">submit</button>
                <!-- <span style="color:red" id="errorlogin{{.Data.Post.ID}}"></span> -->
            </div>
        <div class="comments">
            {{range .Data.Comments}}
            <div class="comment">
                <div class="comment-header">
                    <p class="comment-user">{{.UserName}}</p>
                    <span></span>
                    <p class="comment-time">{{.CreatedAt}} </p>
                </div>
                <div class="comment-body">
                    <p class="comment-content">{{.Content}} </p>
                </div>
                <div class="comment-footer">
                    <button id="commentlikescount{{.ID}}" onclick="commentreaction('{{.ID}}','like')"
                        class="comment-like"><i class="fa-regular fa-thumbs-up"></i>{{.Likes}}</button>
                    <button id="commentdislikescount{{.ID}}" onclick="commentreaction('{{.ID}}','dislike')"
                        class="comment-dislike"><i class="fa-regular fa-thumbs-down"></i>{{.Dislikes}}</button>
                </div>
                <span style="color:red" id="commenterrorlogin{{.ID}}"></span>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{template "footer.html"}}